<template>
  <div class="h-full bg-gray-50">
    <div class="flex flex-col my-5 sm:my-5 md:my-5 lg:my-5 xl:my-5 2xl:my-10">
      <div
        class="
          bg-white
          shadow-light-spread
          w-full
          xl:px-10
          md:w-6/12
          xl:w-6/12
          m-auto
          2xl:mt-10
          px-5
          py-6
          lg:py-10
          pb-10
          lg:pb-14
          mb-16
          rounded-lg
        "
      >
        <p class="text-2xl font-semibold text-center mb-5">Create Account</p>
        <ValidationObserver ref="register" v-slot="{ handleSubmit }">
          <form @submit.prevent="handleSubmit(SubmitForm)">
            <div class="grid grid-cols-2 gap-4">
              <div class="mb-4">
                <span class="text-sm font-medium">First Name</span>
                <div class="block pt-2">
                  <FormsTextInput
                    v-model.trim="register.first_name"
                    name="first_name"
                    type="text"
                    rules="required|min:2|max:150"
                    placeholder="Enter First Name"
                  />
                </div>
              </div>
              <div class="mb-4">
                <span class="text-sm font-medium">Last Name</span>
                <div class="block pt-2">
                  <FormsTextInput
                    v-model.lazy="register.last_name"
                    name="last_name"
                    type="text"
                    rules="required|min:2|max:150"
                    placeholder="Enter Last Name"
                  />
                </div>
              </div>
              <div class="mb-4">
                <span class="text-sm font-medium">Email Address</span>
                <div class="block pt-2">
                  <FormsTextInput
                    v-model.lazy="register.email"
                    name="email"
                    type="text"
                    rules="required|email"
                    placeholder="Enter Email Address"
                  />
                </div>
              </div>
              <div class="mb-4">
                <span class="text-sm font-medium">Phone Number</span>
                <div class="block pt-2">
                  <FormsTextInput
                    v-model.trim="register.phone"
                    name="phone"
                    type="numeric"
                    rules="required|numeric|min:9|max:15"
                    placeholder="Enter Phone Number"
                  />
                </div>
              </div>
              <div class="mb-4 font-mediumi">
                <span class="text-sm font-medium">Password</span>
                <div class="block pt-2">
                  <FormsTextInput
                    v-model.trim="register.password"
                    name="password"
                    type="password"
                    rules="required|min:8|max:32"
                    placeholder="Enter password"
                  />
                </div>
              </div>
              <div class="mb-4 font-mediumi">
                <span class="text-sm font-medium">Confirm Password</span>
                <div class="block pt-2">
                  <FormsTextInput
                    v-model.trim="register.confirm_password"
                    name="confirm_password"
                    type="password"
                    rules="required|confirmed:password"
                    placeholder="Enter password"
                  />
                </div>
              </div>
              <div class="mb-4 font-mediumi">
                <span class="text-sm font-medium">Sport Interest</span>
                <div class="block pt-2">
                  <FormsSelect
                    v-model="register.interest"
                    name="interest"
                    rules="required"
                    class="w-full xl:py-3"
                    type="number"
                    placeholder="Enter last name"
                  >
                    <option value="">Choose interest</option>
                    <option value="Football">Football</option>
                    <option value="Basketball">Basketball</option>
                    <option value="Ice">Ice</option>
                    <option value="Hockey">Hockey</option>
                    <option value="Motorsports">Motorsports</option>
                    <option value="Bandy">Bandy</option>
                    <option value="Skiing">Skiing</option>
                    <option value="Shooting">Shooting</option>
                  </FormsSelect>
                </div>
              </div>
            </div>
            <div class="w-full font-bold md:w-6/12 xl:w-6/12 m-auto">
              <FormsButtons
                class="text-white w-full font-bold"
                padding="2px 10px"
                background="#6252b6"
              >
                <span class="font-medium">Create Account</span>
              </FormsButtons>
            </div>
            <div
              class="
                text-center
                pt-3
                pb-2
                text-xs
                font-medium
                text-gray-600
                mt-3
              "
            >
              <span>
                By creating an account you accept our terms and conditions &
                privacy policy
              </span>
            </div>
            <div class="pt-5 text-xs text-center">
              <NuxtLink to="/account/login">
                <span class="text-main-green">Already have an Account?s </span>
              </NuxtLink>
            </div>
            <div class="pt-5 text-xs text-center">
              <NuxtLink to="/">
                <span class="font-semibold"
                  ><i class="las la-arrow-left"></i> Back To Home</span
                >
              </NuxtLink>
            </div>
          </form>
        </ValidationObserver>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Register',
  data() {
    return {
      register: {},
    }
  },
  methods: {
    async SubmitForm() {
      const isValid = this.$refs.register.validate()
      if (!isValid) {
        this.$toast.error('Input not entered properly')
        return false
      }
      try {
        this.register.password1 = this.register.password
        this.register.password2 = this.register.confirm_password
        const response = await this.$axios.$post(
          '/api/auth/register/',
          this.register
        )
        if (response) {
          this.$toast.success(
            `Registration was successful, confirm at ${this.register.email}`
          )
          await this.$router.push('/account/login')
        }
      } catch (e) {
        const error = e.response.data
        const firstError = Object.entries(error)[0][1]
        if (firstError === '') {
          this.$toast.error('Registration wast not complete')
        } else {
          this.$toast.error(firstError)
        }
      }
    },
  },
}
</script>
