<template>
  <div class="h-full bg-gray-50">
    <div
      class="flex flex-col px-3 lg:px-0 sm:my-5 md:my-5 lg:my-5 xl:my-5 2xl:my-10"
    >
      <div
        class="
        bg-white
        shadow-light-spread
        w-full
        xl:px-10
        md:w-7/12
        xl:w-4/12
        m-auto
        2xl:mt-10
        px-5
        py-6
        lg:py-10
        pb-10
        lg:pb-14
        mb-16
        rounded-lg
      "
      >
        <p class="text-2xl font-semibold text-center mb-5">Login</p>
        <div class="grid grid-cols-1">
          <ValidationObserver ref="login" v-slot="{ handleSubmit }">
            <form @submit.prevent="handleSubmit(SubmitForm)">
              <div class="col-span-12 mb-4">
                <span class="text-sm font-medium">Email Address</span>
                <div class="block pt-2">
                  <FormsTextInput
                    v-model="login.email"
                    name="email"
                    rules="required|email"
                    class="w-full xl:py-3"
                    type="text"
                    placeholder="Enter Email"
                  />
                </div>
              </div>
              <div class="col-span-12 mb-4 font-mediumi">
                <span class="text-sm font-medium">Password</span>
                <div class="block pt-2 w-full">
                  <FormsTextInput
                    v-model="login.password"
                    name="password"
                    rules="required"
                    type="password"
                    placeholder="Enter password"
                  />
                </div>
              </div>
              <nuxt-link to="/account/reset" class="text-right pt-3 pb-2 text-xs cursor-pointer float-right">
                <span> Forgot Password? </span>
              </nuxt-link>
              <div class="w-full font-bold">
                <FormsButtons
                  class="text-white w-full font-bold "
                  padding="2px 10px"
                  background="#6252b6"
                >
                  <span class="font-medium"> Login</span>
                </FormsButtons>
              </div>
            </form>
          </ValidationObserver>
        </div>
        <div class="pt-5 text-xs text-center">
          <NuxtLink to="/account/register">
            <span class="text-main-green">Don't have an account ?</span>
          </NuxtLink>
        </div>
        <div class="pt-5 text-xs text-center">
          <NuxtLink to="/">
          <span class="font-semibold"
            ><i class="las la-arrow-left"></i> Back To Home</span
          >
          </NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      login: {},
    }
  },
  methods: {
    async SubmitForm() {
      const isValid = this.$refs.login.validate()
      if (!isValid) {
        this.$toast.error('Input not entered properly')
        return false
      }

      try {
        const response = await this.$auth.loginWith('local', {
          data: {
            email: this.login.email,
            password: this.login.password,
          },
        })
        if (response) {
          this.$toast.success('You are successfully logged in')
        }
      } catch (e) {
        const message = __.isEmpty(e.response)
          ? e.response.data.errors[0]
          : e.response.data.errors[0]
        this.$toast.error(message)
      }
    },
  },
}
</script>
