<template>
  <div class="max-w-2xl md:w-11/12 m-auto mt-6">
    <div class="mt-10 mx-4 md:mx-20 w-full">
      <div class="flex justify-between">
        <div class="flex flex-col-1">
          <h3 class="text-2xl font-bold uppercase">User Profile</h3>
        </div>
        <div class="">
          <button class="bg-purple-600 hover:bg-purple-800 text-white font-bold py-1
                px-2 md:py-2 md:px-6
                rounded" @click="viewEdit = !viewEdit">{{ viewEdit ? 'View' : 'Edit' }}</button>
        </div>
      </div>
      <ValidationObserver ref="profile" v-slot="{ handleSubmit }">
        <form @submit.prevent="handleSubmit(SubmitForm)">
          <div class="flex flex-col-1 md:flex-col-2">
            <div class="min-h-full min-h-full max-w-full md:min-w-180 md:max-w-180 md:border-r-2 md:border-gray-500 mb-1">
              <p>Email</p>
            </div>
            <div class="ml-2 md:ml-4 h-full">
              <div class="col-span-12 ">
                <div class="block">
                  <FormsTextInput
                    v-model="profile.email"
                    name="email"
                    rules="required|email"
                    class="w-full xl:py-3"
                    type="text"
                    placeholder="Enter Email"
                    :disabled="true"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col-1 md:flex-col-2">
            <div class="min-h-full min-h-full max-w-full md:min-w-180 md:max-w-180 md:border-r-2 md:border-gray-500 mb-1">
              <p>First name</p>
            </div>
            <div class="ml-2 md:ml-4 h-full">
              <div class="col-span-12 ">
                <div class="block">
                  <FormsTextInput
                    v-model="profile.first_name"
                    name="first_name"
                    rules="required|min:2"
                    class="w-full xl:py-3"
                    type="text"
                    placeholder="Enter First name"
                    :disabled="!viewEdit"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col-1 md:flex-col-2">
            <div class="min-h-full min-h-full max-w-full md:min-w-180 md:max-w-180 md:border-r-2 md:border-gray-500 mb-1">
              <p>Last name</p>
            </div>
            <div class="ml-2 md:ml-4 h-full">
              <div class="col-span-12 ">
                <div class="block">
                  <FormsTextInput
                    v-model="profile.last_name"
                    name="last_name"
                    rules="required|min:2"
                    class="w-full xl:py-3"
                    type="text"
                    placeholder="Enter last name"
                    :disabled="!viewEdit"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col-1 md:flex-col-2">
            <div class="min-h-full min-h-full max-w-full md:min-w-180 md:max-w-180 md:border-r-2 md:border-gray-500 mb-1">
              <p>Phone number</p>
            </div>
            <div class="ml-2 md:ml-4 h-full">
              <div class="col-span-12 ">
                <div class="block">
                  <FormsTextInput
                    v-model="profile.phone"
                    name="phone"
                    rules="required|min:9"
                    class="w-full xl:py-3"
                    type="number"
                    placeholder="Enter last name"
                    :disabled="!viewEdit"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col-1 md:flex-col-2">
            <div class="min-h-full min-h-full max-w-full md:min-w-180 md:max-w-180 md:border-r-2 md:border-gray-500 mb-1">
              <p>Phone number</p>
            </div>
            <div class="ml-2 md:ml-4 h-full">
              <div class="col-span-12 ">
                <div class="block">
                  <FormsSelect
                    v-model="profile.interest"
                    name="interest"
                    rules="required|min:9"
                    class="w-full xl:py-3"
                    type="number"
                    placeholder="Enter last name"
                    :disabled="!viewEdit"
                  >
                    <option :value="profile.interest">{{profile.interest}}</option>
                    <option value="Football">Football</option>
                    <option value="Basketball">Basketball</option>
                    <option value="Ice">Ice</option>
                    <option value="Hockey">Hockey</option>
                    <option value="Motorsports">Motorsports</option>
                    <option value="Bandy">Bandy</option>
                    <option value="Skiing">Skiing</option>
                    <option value="Shooting">Shooting</option>
                  </FormsSelect>

                </div>
              </div>
            </div>
          </div>
          <div v-if="viewEdit" class="flex justify-center max-w-180 mx-auto" >
            <div class="w-full font-bold">
              <FormsButtons
                class="text-white w-full font-bold "
                padding="2px 10px"
                background="#6252b6"
              >
                <span class="font-medium"> Submit</span>
              </FormsButtons>
            </div>
          </div>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
export default {
  name: "Account",
  middleware: ['auth'],
  data () {
    return {
      profile: this.$auth.user ? {
        email: this.$auth.user.email,
        first_name: this.$auth.user.first_name,
        last_name: this.$auth.user.last_name,
        phone: this.$auth.user.phone,
        interest: this.$auth.user.interest,
      } : {},
      viewEdit: false
    }
  },
  methods: {
    async SubmitForm () {
      const isValid = this.$refs.profile.validate()
      if (!isValid) {
        this.$toast.error('Input not entered properly')
        return false
      }
      try {
        const response = await this.UPDATE_USER_PROFILE(this.profile)
        if (response) {
          this.$toast.success('Update was successful')
        }
      } catch (e) {
        this.$toast.error('Update was not successful')
      }
    }
  }
}
</script>
