<template>
  <div class="h-full bg-gray-50">
    <div
      class="flex flex-col px-3 lg:px-0 sm:my-5 md:my-5 lg:my-5 xl:my-5 2xl:my-10"
    >
      <div
        class="
        bg-white
        shadow-light-spread
        w-full
        xl:px-10
        md:w-7/12
        xl:w-4/12
        m-auto
        2xl:mt-10
        px-5
        py-6
        lg:py-10
        pb-10
        lg:pb-14
        mb-16
        rounded-lg
      "
      >
        <p class="text-2xl font-semibold text-center mb-5">Reset Password</p>
        <div class="grid grid-cols-1">
          <ValidationObserver ref="reset" v-slot="{ handleSubmit }">
            <form @submit.prevent="handleSubmit(SubmitForm)">
              <div class="col-span-12 mb-4">
                <span class="text-sm font-medium">Email</span>
                <div class="block pt-2">
                  <FormsTextInput
                    v-model="reset.email"
                    name="email"
                    rules="required|email"
                    class="w-full xl:py-3"
                    type="email"
                    placeholder="Email to reset password"
                  />
                </div>
              </div>
              <div class="w-full font-bold">
                <FormsButtons
                  class="text-white w-full font-bold "
                  padding="2px 10px"
                  background="#6252b6"
                >
                  <span class="font-medium"> Submit</span>
                </FormsButtons>
              </div>
            </form>
          </ValidationObserver>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Reset",
  data () {
    return {
      reset: {email: ''}
    }
  },
  methods: {
    async SubmitForm () {
      const isValid = this.$refs.reset.validate()
      if (!isValid) {
        this.$toast.error('Input not entered properly')
        return false
      }
      try {
        const reset = await this.SEND_RESET_EMAIL(this.reset)
        if (reset) {
          this.$toast.success(`Please reset your email from ${this.reset.email}`)
          await this.$router.push('/')
        }
      } catch (e) {
        this.$toast.error(`Email reset was not sent`)
      }
    }
  }
}
</script>
