<template>
  <no-ssr>
    <div class="min-h-screen border-gray-50">
      <GuestHomeChangePasswordForm></GuestHomeChangePasswordForm>
    </div>
  </no-ssr>
</template>

<script>
export default {
  name: "ChangePassword",
}
</script>
