<template>
  <div class="max-w-200 text-center mt-10 mx-auto">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam atque ducimus eligendi esse illum ipsa, itaque iure nostrum nulla numquam omnis porro quisquam recusandae reprehenderit, sunt veniam. Consectetur, reprehenderit.</p>
  </div>
</template>

<script>
export default {
  name: "Discover"
}
</script>

