<template>
  <div class="min-h-screen bg-gray-50">
    <div class="flex flex-col px-3 lg:px-0 sm:my-5 md:my-5 lg:my-5 xl:my-5 2xl:my-10">
      <div
        class="
        bg-white
        shadow-light-spread
        w-full
        xl:px-10
        md:w-7/12
        xl:w-4/12
        m-auto
        2xl:mt-10
        px-5
        py-6
        lg:py-10
        pb-10
        lg:pb-14
        mb-2
        rounded-lg
      "
      >
        <label for="image-holder" class="cursor-pointer">
          <img :src="holder" class="object-scale-down h-48 w-full">
          <input id="image-holder" type="file" class="hidden" accept="image/*" @change="ImageHolder($event)" >
        </label>
        <button :style="{padding: '2px 10px', background: '#6252b6'}" class="text-center radius text-white p-2 font-bold" @click="UploadVideos">Upload Videos</button>
      </div>
    </div>
    <GuestHomeChangePasswordForm></GuestHomeChangePasswordForm>
  </div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name: "Settings",
  middleware: ['auth'],
  data () {
    return {
      image: '',
      holder: this.$auth.user.profile.image ?
        `${this.$config.urlPath}/${this.$auth.user.profile.image}`
        : '/_nuxt/static/avatar.png'
    }
  },
  computed: {
    imageHolder () {
      if (this.$auth.user.profile.image !== '') {
        return `${this.$config.urlPath}/${this.$auth.user.profile.image}`
      } else {
        return '/_nuxt/static/avatar.png'
      }
    }
  },
  methods: {
    ...mapActions({
      ChangeProfileImage: 'profile/ChangeProfileImage'
    }),
    async UploadVideos () {
      const formData = new FormData
      formData.append('user', this.$auth.user.id)
      formData.append('image', this.image)
      const response = await this.$axios.$patch(`/api/profile/${this.$auth.user.profile.id}`, formData)
      if (response) {
        await this.$auth.fetchUser()
      }
    },
    ImageHolder (event) {
      this.image = event.target.files[0]
      this.holder = URL.createObjectURL(this.image)
    }
  }
}
</script>
