<template>
  <div class="flex">
      <div class="min-w-200  mt-14 mb-2 pb-6 mx-7">
        <div class="flip-cards">
          <div class="flip-card-inners relative">
            <div class="w-full cursor-pointer h-97 bg-red-600 rounded-3xl absolute top-0 px-3 z-2 bg-blue-200">
              <h2 class="text-2xl">Emmanuel CraSons</h2>
            </div>
            <div class="w-full cursor-pointer h-97 rounded-3xl absolute top-0 p-3 bg-red-600">

            </div>
          </div>
        </div>
      </div>
    <div class="min-w-200 h-40 bg-yellow-600 my-14 mx-7"></div>
    <div class="min-w-200 h-40 bg-yellow-600 my-14 mx-7"></div>
    <div class="min-w-200 h-40 bg-yellow-600 my-14 mx-7"></div>
  </div>
</template>

<script>
export default {
  name: "CardHighest"
}
</script>

<style scoped>
.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.9s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.flip-card-back {
  transform: rotateY(180deg);
}
</style>
