<template>
  <div class="h-full bg-gray-50">
    <div
      class="flex flex-col px-3 lg:px-0 sm:my-5 md:my-5 lg:my-5 xl:my-5 2xl:my-10"
    >
      <div
        class="
        bg-white
        shadow-light-spread
        w-full
        xl:px-10
        md:w-7/12
        xl:w-4/12
        m-auto
        2xl:mt-10
        px-5
        py-6
        lg:py-10
        pb-10
        lg:pb-14
        mb-16
        rounded-lg
      "
      >
        <p class="text-2xl font-semibold text-center mb-5">Update Password</p>
        <div class="grid grid-cols-1">
          <ValidationObserver ref="password" v-slot="{ handleSubmit }">
            <form @submit.prevent="handleSubmit(SubmitForm)">
              <div class="col-span-12 mb-4">
                <span class="text-sm font-medium">Password</span>
                <div class="block pt-2">
                  <FormsTextInput
                    v-model="login.new_password1"
                    name="new_password1"
                    rules="required|min:8|max:32"
                    class="w-full xl:py-3"
                    type="password"
                    placeholder="Password"
                  />
                </div>
              </div>
              <div class="col-span-12 mb-4 font-mediumi">
                <span class="text-sm font-medium">Confirm Password</span>
                <div class="block pt-2 w-full">
                  <FormsTextInput
                    v-model="login.new_password2"
                    name="new_password2"
                    rules="required|confirmed:new_password1"
                    type="password"
                    placeholder="Confirm Password"
                  />
                </div>
              </div>
              <div class="w-full font-bold">
                <FormsButtons
                  class="text-white w-full font-bold "
                  padding="2px 10px"
                  background="#6252b6"
                >
                  <span class="font-medium"> Submit</span>
                </FormsButtons>
              </div>
            </form>
          </ValidationObserver>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ChangePasswordForm",
  data() {
    return {
      login: {},
      params: this.$route.params
    }
  },
  methods: {
    async SubmitForm() {
      const isValid = this.$refs.password.validate()
      if (!isValid) {
        this.$toast.error('Input not entered properly')
        return false
      }

      try {
        if (!__.isEmpty(this.params)) {
          this.login.uid = this.params.page
          this.login.token = this.params.slug
        }
       await this.FetchUserContacts(this.login)
      } catch (e) {
        this.$toast.error('Password update was not successful')
      }
    },
  },
}
</script>
