<template>
  <div class="p-0 sm:p-4">
    <div
      class="bg-white flex items-center rounded-full border-2 border-gray-200"
    >
      <input
        id="search"
        class="
          rounded-l-full
          w-full
          px-6
          text-gray-700
          leading-tight
          focus:outline-none
        "
        type="text"
        placeholder="Search"
      />

      <div class="">
        <span
          class="
            rounded-full
            focus:outline-none
            w-12
            h-12
            flex
            items-center
            justify-center
            text-gray-400
          "
        >
          <i
            class="las la-search transform rotate-270 2xl:text-xl text-3xl"
          ></i>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchInput',
  data() {
    return {}
  },
}
</script>
