<template>
  <div class="max-w-200 mt-10 px-16">
    <h2 class="text-2xl font-extrabold" >Stack use for this project</h2>
    <div class="mb-4 pb-10 border-b-2 border-gray-200">
      <p>Vuejs </p>
      <p>Nuxt</p>
      <p>Tailwind</p>
    </div>
    <div class="mt-6">
      <p>Python</p>
      <p>Django</p>
      <p>Django-rest-framework</p>
      <p>docker</p>
      <p>aws, ec2</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutUs',
}
</script>
