<template>
  <div class="flex flex-col absolute pt-16 mt-8">
    <div
      class="
        bg-white
        w-10/12
        m-auto
        px-4
        py-2
        md:px-12
        md:py-8
        min-h-full
        bg-blue-50
        rounded-3xl
        mb-24
      "
    >
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="m-auto">
          <h2 class="text-3xl md:text-5xl	text-bold py-4 md:py-12 ">Sport Betting Ventures.</h2>
          <p class="text-xl md:text-2xl text-gray-500">Invest your money on sport betting platform, bet as many times as you afford</p>
        </div>
        <div class="h-5/6 m-auto">
          <img src="~/static/img/brainstorm.svg" alt="Brain Storm" class="object-contain">
        </div>
      </div>
    </div>
    <div class="h-full w-full z-2">
      <div class="h-100 w-full bg-background bg-no-repeat bg-right-top z-3">
        <div class="m-auto grid grid-cols-1 md:grid-cols-2 gap-8  w-5/6">
          <div class="">
            <img src="~/static/img/amico1.svg" alt="Amico Thinking">
          </div>
          <div class="flex flex-col items-center justify-center w-11/12	sm:w-8/12	">
            <h2 class="text-gray-800 text-2xl md:text-4xl  font-bold justify-self-start mb-4"> Bet Daily </h2>
            <p class="text-gray-600 text-base">Bet Daily as small as you can, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur facilis incidunt modi ne</p>
          </div>
        </div>
      </div>
      <div class="h-128 w-full bg-background1 bg-no-repeat">
        <div class="m-auto grid grid-cols-1 md:grid-cols-2 gap-8  w-5/6">
          <div class="flex flex-col items-center justify-center w-11/12	sm:w-8/12	">
            <h2 class="text-gray-800 text-2xl md:text-4xl  font-bold justify-self-start mb-4"> Money betting </h2>
            <p class="text-gray-600 text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur distinctio eligendi, eum exercitationem hic, id inventore ipsam laborum minus, modi mollitia neque nesciunt nobis numquam quam sapiente sed similique.</p>
          </div>
          <div class="">
            <img src="~/static/img/amico2.svg" alt="Amico Thinking">
          </div>
        </div>
        <div class="m-auto grid grid-cols-1 md:grid-cols-2 gap-8  w-5/6">
          <div class="">
            <img src="~/static/img/amico3.svg" alt="Amico Thinking">
          </div>
          <div class="flex flex-col items-center justify-center w-full	sm:w-8/12	">
            <h2 class="text-gray-800 text-2xl md:text-4xl  font-bold justify-self-start mb-4"> Bet more not less </h2>
            <p class="text-gray-600 text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eius enim eum eveniet facilis id inventore itaque labore molestiae nihil nobis, nulla, quia quidem quis sapiente, unde velit vero voluptas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'default',
}
</script>
