<template>
  <div
    class="
      grid grid-cols-5
      w-full
      py-2
      font-light
      bg-white
      fixed
      bottom-0
      text-center
      shadow-mid-spread
      border-t-2
       border-fuchsia-600
      justify-center
      text-gray-800
      xl:hidden
      uppercase
      z-20
    "
  >
    <NuxtLink to="/" class=" py-2" :class="{'border-b-2 border-indigo-600  text-blue-700 ': $route.path === '/'}">
      <span class="text-1xl lg:text-4xl leading-tight">
        <i class="las la-home"></i>
        <span class="block font-medium text-2xs lg:text-sm"> Home </span>
      </span>
    </NuxtLink>

    <NuxtLink to="/buddies" class=" py-2" :class="{'border-b-2 border-indigo-600  text-blue-700 ': $route.path === '/buddies'}">
      <span
        class="text-1xl lg:text-4xl leading-tight"
        >
        <i class="las la-th-list"></i
        ><span class="block font-medium text-2xs lg:text-sm">Buddies </span>
      </span>
    </NuxtLink>

    <NuxtLink to="/discover" class=" py-2" :class="{'border-b-2 border-indigo-600  text-blue-700 ': $route.path === '/discover'}">
      <span class="text-1xl lg:text-4xl leading-tight">
        <i class="las la-shopping-basket"></i
        ><span class="block font-medium text-2xs lg:text-sm">Discover </span>
      </span>
    </NuxtLink>

    <NuxtLink to="/about-us" class="py-2" :class="{'border-b-2 border-indigo-600  text-blue-700 ': $route.path === '/about-us'}">
      <span class="text-1xl lg:text-4xl leading-tight">
        <i class="las la-pager"></i
        ><span class="block font-medium text-2xs lg:text-sm">About </span>
      </span>
    </NuxtLink>

    <NuxtLink to="/account" class="py-2" :class="{'border-b-2 border-indigo-600  text-blue-700 ': $route.path === '/account'}">
      <span class="text-1xl lg:text-4xl leading-tight">
        <i class="las la-user"></i
        ><span class="block font-medium text-2xs lg:text-sm">Profile</span>
      </span>
    </NuxtLink>
  </div>
</template>

<script>
export default {
  name: "Footer"
}
</script>
