<template>
  <div class="w-full text-gray-700 bg-white dark-mode:text-gray-200 dark-mode:bg-gray-800 z-10 shadow-xl sticky top-0">
    <div x-data="{open: false}" class="flex flex-col max-w-190 px-1 mx-auto md:items-center md:justify-between md:flex-row h-16">
      <div class=" flex flex-row items-center justify-between mt-4 md:mt-0 px-4 md:px-0">
        <a class="text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">
          Spot Betting
        </a>
        <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline">
          <span v-if="$auth.user"> {{ $auth.user.first_name }}</span>
        </button>
      </div>
      <nav :class="{'flex': open, 'hidden': !open}" class="flex-col flex-grow h-full hidden md:flex items-center md:justify-end md:flex-row ">
        <nuxt-link to="/" class="px-2  text-sm font-semibold text-gray-900 h-full pt-6  dark-mode:bg-gray-700 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-blue-700 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" :class="{
                    'border-b-2 border-indigo-600  text-blue-700 ': $route.path === '/',
                  }">Home</nuxt-link>
        <nuxt-link to="/buddies" class="px-2 text-sm font-semibold bg-transparent h-full pt-6 dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-blue-700 focus:text-blue-700 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" :class="{
                    'border-b-2 border-indigo-600 text-blue-700 ': $route.path === '/buddies',
                  }">Buddies</nuxt-link>
        <nuxt-link to="/discover" class="px-2 text-sm font-semibold bg-transparent h-full pt-6 dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-blue-700 focus:text-blue-700 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" :class="{
                    'border-b-2 border-indigo-600 text-blue-700 ': $route.path === '/discover',
                  }">Discover</nuxt-link>
        <nuxt-link to="/about-us" class="px-2 text-sm font-semibold bg-transparent h-full pt-6 dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-blue-700 focus:text-blue-700 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" :class="{
                    'border-b-2 border-indigo-600 text-blue-700 ': $route.path === '/about-us',
                  }">About</nuxt-link>
        <div class="relative" x-data="{ open: false }">

          <nuxt-link v-if="!$auth.loggedIn"
            to="/account/login"
            type="button"
            class="
                bg-purple-600
                hover:bg-purple-800
                text-white
                font-bold
                py-1
                px-2
                md:py-2 md:px-4
                rounded
                mr-2
              "
          >
            Login
          </nuxt-link>
          <button v-if="$auth.loggedIn" class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:focus:bg-purple-800 dark-mode:hover:bg-purple-800 md:w-auto md:inline md:mt-0 md:ml-4 hover:text-white focus:bg-purple-800 hover:bg-purple-800 focus:bg-purple-800 focus:outline-none focus:text-white focus:shadow-outline" :class="{'bg-purple-800 text-white': $route.path === '/account' || $route.path === '/account/settings'}" @click="open = !open">
            <span v-if="$auth.user">{{ $auth.user.first_name }}</span>
            <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
          <div x-show="open"  class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48">
            <div v-if="open" class="px-2 py-2 bg-white rounded-md shadow dark-mode:bg-gray-800" >
              <nuxt-link to="/account" class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-purple-600 dark-mode:focus:bg-purple-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:bg-purple-200 md:mt-0 hover:text-white focus:text-purple-900 hover:bg-purple-900 focus:bg-purple-200 focus:outline-none focus:shadow-outline" @click.native="open = !open">Profile</nuxt-link>
              <nuxt-link to="/account/settings" class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-purple-600 dark-mode:focus:bg-purple-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:bg-purple-200 md:mt-0 hover:text-white focus:text-purple-900 hover:bg-purple-900 focus:bg-purple-200 focus:outline-none focus:shadow-outline" @click.native="open = !open" >Setting</nuxt-link>
              <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-purple-600 dark-mode:focus:bg-purple-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:bg-purple-200 md:mt-0 hover:text-white focus:text-purple-900 hover:bg-purple-900 focus:bg-purple-200 focus:outline-none focus:shadow-outline" @click="Logout">Logout</a>
            </div>
          </div>
        </div>
        <a  v-if="$auth.loggedIn"  class="text-sm font-semibold bg-transparent h-full pt-4 dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-blue-700 focus:text-blue-700 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
          <img class="w-8 rounded-full" :src="$auth.user.profile.image ? `${$config.urlPath}/${$auth.user.profile.image}` : $config.avatarUrl" alt="Photo">
        </a>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NavBarUser',
  data() {
    return {
      open: false,
      showNavs: false,
      showSearchBars: false,
    }
  },
  methods: {
    NavigationFocus() {
      this.showNavs = !this.showNavs
    },
    OpenSearchBars() {
      this.showSearchBars = !this.showSearchBars
    },
    async Logout () {
      this.open = false
      await this.$auth.logout()
    }
  },
}
</script>
