<template>
  <div class="inline-block">
    <button
      :style="`background:${background}; border:${border}; height:${height}; width:${width}; border-radius:${radius}; padding:${padding}
      font-weight:${fontWeight};`"
      class="text-center radius"
      type="submit"
    >
      <slot />
    </button>
  </div>
</template>

<script>
export default {
  name: 'Buttons',
  props: {
    label: {
      type: String,
      default: 'Submit',
    },
    background: {
      type: String,
      default: 'none',
    },
    width: {
      type: String,
      default: '100%',
    },
    height: {
      type: String,
      default: '2.75rem',
    },
    radius: {
      type: String,
      default: '6px',
    },
    border: {
      type: String,
      default: 'none',
    },
    fontWeight: {
      type: String,
      default: 'none',
    },
    padding: {
      type: String,
      default: 'none',
    },
  },
}
</script>
