<template>
  <div class="mb-1">
    <ValidationProvider v-slot="{ valid, errors }" :name="name" :rules="rules">
      <select id="grid-state"  v-model="innerValue" :disabled="disabled" class="block appearance-none w-full min-w-12 bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              :class="{ ' invalid ': errors[0], ' valid ': valid }"
      >
        <slot></slot>
      </select>
      <div class="text-red-500 text-sm italic">{{ errors[0] }}</div>
    </ValidationProvider>
  </div>
</template>

<script>
export default {
  name: 'TextInput',
  props: {
    name: {
      type: String,
      default: '',
      required: true,
    },
    type: {
      type: String,
      default: '',
    },
    vid: {
      type: String,
      default: '',
    },
    rules: {
      type: String,
      default: '',
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: 'Enter',
    },
    value: {
      type: null,
      default: null,
    },
    textClass: {
      type: String,
      default: '',
    },
  },
  data: () => ({
    innerValue: '',
    style: {
      border: '1px solid red',
    },
  }),
  watch: {
    // Handles internal model changes.
    innerValue(newVal) {
      this.$emit('input', newVal)
    },
    // Handles external model changes.
    value(newVal) {
      this.innerValue = newVal
    },
  },
  created() {
    if (this.value) {
      this.innerValue = this.value
    }
  },
}
</script>

<style scoped>
input:focus {
  border: solid 1px whitesmoke;
  outline-color: whitesmoke;
  -moz-outline-color: whitesmoke;
}
.valid {
  border: solid 1px #56a652 !important;
  -moz-border: 1px #56a652 !important;
  outline: none !important;
  -moz-outline: none !important;
}
.invalid {
  border: solid 1px red !important;
  -moz-border: solid 1px red !important;
  outline: none !important;
  -moz-outline: none !important;
}
</style>
