<template>
  <div class="mb-1">
    <ValidationProvider v-slot="{ valid, errors }" :name="name" :rules="rules">
      <div class="flex">
        <input
          v-model="innerValue"
          autocomplete="nope"
          :type="type"
          class="
            inline-block
            border
            rounded-md
            py-3
            px-3
            w-full
            text-sm
            lg:text-sm
          "
          :placeholder="placeholder"
          :class="{ ' invalid ': errors[0], ' valid ': valid }"
          :disabled="disabled"
        />
      </div>
      <div class="text-red-500 text-sm italic">{{ errors[0] }}</div>
    </ValidationProvider>
  </div>
</template>

<script>
export default {
  name: 'TextInput',
  props: {
    name: {
      type: String,
      default: '',
      required: true,
    },
    type: {
      type: String,
      default: '',
    },
    vid: {
      type: String,
      default: '',
    },
    rules: {
      type: String,
      default: '',
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: 'Enter',
    },
    value: {
      type: null,
      default: null,
    },
    textClass: {
      type: String,
      default: '',
    },
  },
  data: () => ({
    innerValue: '',
    style: {
      border: '1px solid red',
    },
  }),
  watch: {
    // Handles internal model changes.
    innerValue(newVal) {
      this.$emit('input', newVal)
    },
    // Handles external model changes.
    value(newVal) {
      this.innerValue = newVal
    },
  },
  created() {
    if (this.value) {
      this.innerValue = this.value
    }
  },
}
</script>
<style scoped>
input:focus {
  border: solid 1px whitesmoke;
  outline-color: whitesmoke;
  -moz-outline-color: whitesmoke;
}
.valid {
  border: solid 1px #56a652 !important;
  -moz-border: 1px #56a652 !important;
  outline: none !important;
  -moz-outline: none !important;
}
.invalid {
  border: solid 1px red !important;
  -moz-border: solid 1px red !important;
  outline: none !important;
  -moz-outline: none !important;
}
</style>
